<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editar Drone</title>
</head>
<body>
<h1>Editar Drone</h1>

<form method="post" th:object="${drone}" th:action="@{/drones/atualizar/{id}(id=${drone.id})}" >

  <input type="hidden" name="id" th:value="${drone.id}" />

  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" th:value="${drone.nome}" required />

  <label for="modelo">Modelo:</label>
  <input type="text" id="modelo" name="modelo" th:value="${drone.modelo}" required />

  <label for="numeroSerie">Número de Série:</label>
  <input type="number" id="numeroSerie" name="numeroSerie" th:value="${drone.numeroSerie}" required />

  <label for="capacidadeCarga">Capacidade de Carga:</label>
  <input type="text" id="capacidadeCarga" name="capacidadeCarga" th:value="${drone.capacidadeCarga}" required />

  <label for="capacidadeBateria">Capacidade da Bateria:</label>
  <input type="text" id="capacidadeBateria" name="capacidadeBateria" th:value="${drone.capacidadeBateria}" required />

  <button type="submit" >Salvar</button>

</form>


</body>
</html>
